<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css"> 
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        <img class="portrait" src="/img/1621847479234.jpeg">
        <br>
        <p>I'm an undergraduate from the Indian Institute of Information Technology , Nagpur .</p>
        <br>
        <a href="https://www.linkedin.com/in/aayush-verma-125379191/">My LinkedIn profile </a>
        
        </div>
        
        {{>footer}}
    </body>
</html>